=begin
#Mooncard API

#Access Mooncard data from anywhere

OpenAPI spec version: 3.0.0
Contact: hello@mooncard.co
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.12

=end

require 'uri'

module Mooncard
  class SendCardPinApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Send card pin code
    # @param send_card_pin 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def send(send_card_pin, opts = {})
      send_with_http_info(send_card_pin, opts)
      nil
    end

    # Send card pin code
    # @param send_card_pin 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def send_with_http_info(send_card_pin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendCardPinApi.send ...'
      end
      # verify the required parameter 'send_card_pin' is set
      if @api_client.config.client_side_validation && send_card_pin.nil?
        fail ArgumentError, "Missing the required parameter 'send_card_pin' when calling SendCardPinApi.send"
      end
      # resource path
      local_var_path = '/api/v3/send_card_pin'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(send_card_pin)
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendCardPinApi#send\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
